In [1]:
import pandas as pd

In [2]:
read_df = pd.read_csv('./tmdb_5000_movies.csv')

In [3]:
read_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [21]:
pd.read_json(df['genres'][0])['id'].values

array([ 28,  12,  14, 878])

In [26]:
df.shape

(4803, 20)

In [150]:
one_snip = pd.read_json(read_df['genres'][0])

In [151]:
two_snip = pd.read_json(read_df['genres'][1])

In [4]:
dfs = [pd.read_json(read_df['genres'][val]) for val in range(0, 2000)]

In [5]:
stacked_df = pd.concat(dfs)

In [6]:
stacked_df.index = stacked_df.id

In [9]:
top_genres = [28, 18, 35, 12, 16, 14, 80, 53, 27, 878, 10749]
genre_dict = stacked_df[stacked_df['id'].map(lambda x: x in top_genres)].drop_duplicates()['name'].to_dict()

In [12]:
import numpy as np
first_cat = np.stack([pd.read_json(read_df['genres'][val]).id.values[0] for val in range(0, 2000)])

In [77]:
def replace_too_small(val):
    if val in top_genres:
        return val
    else:
        return -999

In [79]:
cleaned_vals = [replace_too_small(val) for val in first_cat]
cleaned_vals = np.array(cleaned_vals)

In [80]:
df = pd.DataFrame(cleaned_vals, columns = ['genre'])

In [118]:
df.genre.value_counts(normalize = True)

 28       0.2415
 18       0.1825
 35       0.1795
 12       0.1180
 16       0.0465
-999      0.0420
 14       0.0400
 80       0.0380
 53       0.0365
 27       0.0295
 878      0.0260
 10749    0.0200
Name: genre, dtype: float64

In [70]:
top_genres

[28, 18, 35, 12, 16, 14, 80, 53, 27, 878, 10749]

In [86]:
read_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [13]:
selected_cols = ['title', 'budget', 'runtime', 
                 'original_language', 'release_date', 'revenue']

selected_df = read_df[selected_cols]

In [14]:
top_df = selected_df[:2000]

In [17]:
top_df['genre'] = first_cat

/Users/jeff/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
top_df.head()

,title,budget,runtime,original_language,release_date,revenue,genre
0,Avatar,237000000,162.0,en,2009-12-10,2787965087,28
1,Pirates of the Caribbean: At World's End,300000000,169.0,en,2007-05-19,961000000,12
2,Spectre,245000000,148.0,en,2015-10-26,880674609,28
3,The Dark Knight Rises,250000000,165.0,en,2012-07-16,1084939099,28
4,John Carter,260000000,132.0,en,2012-03-07,284139100,28

In [19]:
# top_df['genre'] = df.genre

In [132]:
release_date_ser = pd.to_datetime(top_df['release_date'])

In [136]:
top_df['year'] = release_date_ser.map(lambda x: x.year)

/Users/jeff/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [137]:
top_df['month'] = release_date_ser.map(lambda x: x.month)

/Users/jeff/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
top_df.genre = pd.Series(top_df.genre)

In [23]:
top_df['genre'] = top_df.genre.map(genre_dict)

/Users/jeff/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
top_df.to_csv('./semi-cleaned-imdb.csv', index = False)

In [196]:
top_df

,title,budget,runtime,original_language,release_date,revenue,genre,year,month
0,Avatar,237000000,162.0,en,2009-12-10,2787965087,Action,2009,12
1,Pirates of the Caribbean: At World's End,300000000,169.0,en,2007-05-19,961000000,Adventure,2007,5
2,Spectre,245000000,148.0,en,2015-10-26,880674609,Action,2015,10
3,The Dark Knight Rises,250000000,165.0,en,2012-07-16,1084939099,Action,2012,7
4,John Carter,260000000,132.0,en,2012-03-07,284139100,Action,2012,3
...,...,...,...,...,...,...,...,...,...
1995,Pitch Black,23000000,108.0,en,2000-02-18,53187659,Thriller,2000,2
1996,Someone Like You...,23000000,97.0,en,2001-03-30,0,Comedy,2001,3
1997,Her,23000000,126.0,en,2013-12-18,47351251,Romance,2013,12
1998,Joy Ride,23000000,97.0,en,2001-10-05,36642838,NaN,2001,10
1999,The Adventurer: The Curse of the Midas Box,25000000,99.0,en,2013-12-05,6399,Fantasy,2013,12

In [197]:
top_df.columns

Index(['title', 'budget', 'runtime', 'original_language', 'release_date',
       'revenue', 'genre', 'year', 'month'],
      dtype='object')

In [209]:
cols = ['title', 'genre', 'budget', 'runtime', 
 'year', 'month', 'revenue',]

top_df[cols].to_csv('imdb_movies.csv')

In [217]:
df = pd.read_csv('imdb_movies.csv', index_col = 0)

In [214]:
df = df.fillna(-999)

In [219]:
df.to_csv('imdb_movies.csv')

In [220]:
df

,title,genre,budget,runtime,year,month,revenue
0,Avatar,Action,237000000,162.0,2009,12,2787965087
1,Pirates of the Caribbean: At World's End,Adventure,300000000,169.0,2007,5,961000000
2,Spectre,Action,245000000,148.0,2015,10,880674609
3,The Dark Knight Rises,Action,250000000,165.0,2012,7,1084939099
4,John Carter,Action,260000000,132.0,2012,3,284139100
...,...,...,...,...,...,...,...
1995,Pitch Black,Thriller,23000000,108.0,2000,2,53187659
1996,Someone Like You...,Comedy,23000000,97.0,2001,3,0
1997,Her,Romance,23000000,126.0,2013,12,47351251
1998,Joy Ride,NaN,23000000,97.0,2001,10,36642838
1999,The Adventurer: The Curse of the Midas Box,Fantasy,25000000,99.0,2013,12,6399